@import "tailwindcss";

@theme {
  /* Définition des couleurs personnalisées */
  --color-pop-blue: #0047AB;
  --color-pop-pink: #FF1493;
  --color-pop-yellow: #CCFF00;
  --color-pop-black: #0a0a0a;

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-retro: "Arial Black", sans-serif;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* On force le noir par défaut pour le style Dua Lipa */
  background-color: #000000; 
}

/* --- Tes animations Marquee --- */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@theme {
  --color-pop-blue: #0047AB;
  --color-pop-pink: #FF1493;
  --color-pop-yellow: #CCFF00;
  --color-pop-black: #0a0a0a;
  --color-pop-turquoise: #00ced1; 
}
.animate-marquee {
  display: flex;
  width: fit-content;
  animation: marquee 20s linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  width: fit-content;
  animation: marquee 25s linear infinite reverse;
}